params {
    fid = "America"  // Additional options to pass to the PLINK command
    half_call = "h"
    publish_dir_mode           = 'copy'
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

profiles {
    test { includeConfig 'conf/test.config' }
    eva { includeConfig 'conf/eva.config' }
}