// Profile config names for nf-core/configs

params {
  // Specific nf-core/configs params
  config_profile_contact = 'Judith Ballesteros Villascán (@jbv2)'
}

env {
    _JAVA_OPTIONS = "-XX:ParallelGCThreads=1"
    OPENBLAS_NUM_THREADS = 1
    OMP_NUM_THREADS = 1
}

// Specific nf-core/eager process configuration
process {

  maxRetries = 2

  // Solution for clusterOptions comes from here: https://github.com/nextflow-io/nextflow/issues/332 + personal toMega conversion
  clusterOptions = { "-S /bin/bash -V -j y -o output.log -l h_vmem=${task.memory.toGiga()}G" }

  withLabel:'process_single'{
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    time = '4.h'
  }

  withLabel:'process_low'{
    cpus = { check_max( 2, 'cpus' ) }
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    time = '4.h'
  }

  withLabel:'process_medium'{
    cpus = { check_max( 4, 'cpus' ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time = '8.h'
  }

  withLabel:'process_high'{
    cpus = { check_max( 8, 'cpus' ) }
    memory = { check_max( 12.GB * task.attempt, 'memory' ) }
    time = '16.h'
  }

  withLabel:'process_long' {
    cpus = { check_max( 4, 'cpus' ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time = '20.h'
  }

  withLabel:'process_high_memory'{
     memory = { check_max( 200.GB * task.attempt, 'memory' ) }
  }

  
  // Fixes for SGE and Java incompatibility due to Java using more memory than you tell it to use

  withName: PLINK {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 2)}G" }
    errorStrategy = { task.exitStatus in [1,143,137,104,134,139,140] ? 'retry' : 'finish' }
   }

  withName: MAKE_PAR {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 2)}G" }
    errorStrategy = { task.exitStatus in [1,143,137,104,134,139,140] ? 'retry' : 'finish' }
   }

  withName: SMARTPCA {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 2)}G" }
    errorStrategy = { task.exitStatus in [1,143,137,104,134,139,140] ? 'retry' : 'finish' }
   }

  withName: FORMAT_EVEC {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 2)}G" }
    errorStrategy = { task.exitStatus in [1,143,137,104,134,139,140] ? 'retry' : 'finish' }
   }

  
}

