/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: PLINK {
        ext.args = [
            "--const-fid ${params.fid}",
            "--vcf-half-call ${params.half_call}"
        ].join(' ').trim()
        publishDir = [
        path: { "${params.outdir}/convertToPlink/" },
        mode: params.publish_dir_mode,
        ]
    }

    withName: MAKE_PAR {
        publishDir = [
        path: { "${params.outdir}/makeParFile/" },
        mode: params.publish_dir_mode,
        ]
    }

    withName: SMARTPCA {
        publishDir = [
        path: { "${params.outdir}/runSmartPCA/" },
        mode: params.publish_dir_mode,
        ]
    }

    withName: FORMAT_EVEC {
        publishDir = [
        path: { "${params.outdir}/runSmartPCA/" },
        mode: params.publish_dir_mode,
        ]
    }


}
